In [1]:
#crear un dataframe con el arcivo csv. 
import pandas as pd
# Cargar el archivo CSV en un DataFrame
df = pd.read_csv('online_retail_cleaned.csv')

In [2]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541759 entries, 0 to 541758
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541759 non-null  object
 1   StockCode    541759 non-null  object
 2   Description  541759 non-null  object
 3   Quantity     541759 non-null  int64
 4   InvoiceDate  541759 non-null  datetime64[ns]
 5   UnitPrice    541759 non-null  float64
 6   CustomerID   541759 non-null  Int64
 7   Country      541759 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 33.6+ MB

In [4]:
# cambiar la columna 'InvoiceDate' a tipo fecha
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%Y-%m-%d %H:%M:%S')
# Verificar el tipo de dato de la columna 'InvoiceDate'

In [6]:
# cambiar la columna costumerID a tipo entero
df['CustomerID'] = pd.to_numeric(df['CustomerID'], errors='coerce').astype('Int64')

In [19]:
# obtener Cual es la compra media por cliente
average_purchase_per_customer = df.groupby('CustomerID')['UnitPrice'].mean().reset_index()
# Muestra el resultado en un cuadro
average_purchase_per_customer.columns = ['CustomerID', 'AveragePurchase']
print(average_purchase_per_customer.head())

   CustomerID  AveragePurchase
0       12345         6.321775
1       12346         1.040000
2       12347         2.644011
3       12348         5.764839
4       12349         8.289041

In [20]:
# obtener la compra media por mes por cliente
average_purchase_per_month = df.groupby([df['InvoiceDate'].dt.to_period('M'), 'CustomerID'])['UnitPrice'].mean().reset_index()
# Muestra el resultado claro
average_purchase_per_month.columns = ['Month', 'CustomerID', 'AveragePurchase']
print(average_purchase_per_month.head())
# obtener la compra media por mes por cliente y por producto
average_purchase_per_month_product = df.groupby([df['InvoiceDate'].dt.to_period('M'), 'CustomerID', 'StockCode'])['UnitPrice'].mean().reset_index()
# Muestra el resultado claro
average_purchase_per_month_product.columns = ['Month', 'CustomerID', 'StockCode', 'AveragePurchase']
print(average_purchase_per_month_product.head())
# obtener la compra media por mes por cliente y por producto, ordenado por mes
average_purchase_per_month_product_sorted = average_purchase_per_month_product.sort_values(by=['Month', 'CustomerID', 'StockCode'])
print(average_purchase_per_month_product_sorted.head())
# Guardar el DataFrame resultante en un nuevo archivo CSV
average_purchase_per_month_product_sorted.to_csv('average_purchase_per_month_product_sorted.csv', index=False)

     Month  CustomerID  AveragePurchase
0  2010-12       12345         6.927921
1  2010-12       12347         2.890000
2  2010-12       12348         2.917647
3  2010-12       12370         2.894286
4  2010-12       12377         2.106279
     Month  CustomerID StockCode  AveragePurchase
0  2010-12       12345     10002         1.602143
1  2010-12       12345     10125         1.447500
2  2010-12       12345     10133         1.235000
3  2010-12       12345     10135         2.422143
4  2010-12       12345     11001         3.081667
     Month  CustomerID StockCode  AveragePurchase
0  2010-12       12345     10002         1.602143
1  2010-12       12345     10125         1.447500
2  2010-12       12345     10133         1.235000
3  2010-12       12345     10135         2.422143
4  2010-12       12345     11001         3.081667

In [23]:
# obtener la compra media por año por cliente
average_purchase_per_year = df.groupby([df['InvoiceDate'].dt.to_period('Y'), 'CustomerID'])['UnitPrice'].mean().reset_index()
# Muestra el resultado claro
average_purchase_per_year.columns = ['Year', 'CustomerID', 'AveragePurchase']
print(average_purchase_per_year.head())
# obtener la compra media por año por cliente y por producto
average_purchase_per_year_product = df.groupby([df['InvoiceDate'].dt.to_period('Y'), 'CustomerID', 'StockCode'])['UnitPrice'].mean().reset_index()
# Muestra el resultado claro
average_purchase_per_year_product.columns = ['Year', 'CustomerID', 'StockCode', 'AveragePurchase']
print(average_purchase_per_year_product.head())
# obtener la compra media por año todos los productos
average_purchase_per_year_all_products = df.groupby([df['InvoiceDate'].dt.to_period('Y')])['UnitPrice'].mean().reset_index()
# Muestra el resultado por columnas
average_purchase_per_year_all_products.columns = ['Year', 'AveragePurchase']
print(average_purchase_per_year_all_products.head())

   Year  CustomerID  AveragePurchase
0  2010       12345         6.927921
1  2010       12347         2.890000
2  2010       12348         2.917647
3  2010       12370         2.894286
4  2010       12377         2.106279
   Year  CustomerID StockCode  AveragePurchase
0  2010       12345     10002         1.602143
1  2010       12345     10125         1.447500
2  2010       12345     10133         1.235000
3  2010       12345     10135         2.422143
4  2010       12345     11001         3.081667
   Year  AveragePurchase
0  2010         4.573709
1  2011         4.061002

In [31]:
# muestra el resultado por columnas de la compra media por año todos los productos por cliente
average_purchase_per_year_all_products_customer = df.groupby([df['InvoiceDate'].dt.to_period('Y'), 'CustomerID'])['UnitPrice'].mean().reset_index()
# Muestra el resultado por columnas
average_purchase_per_year_all_products_customer.columns = ['Year', 'CustomerID', 'AveragePurchase']
print(average_purchase_per_year_all_products_customer.head())

   Year  CustomerID  AveragePurchase
0  2010       12345         6.927921
1  2010       12347         2.890000
2  2010       12348         2.917647
3  2010       12370         2.894286
4  2010       12377         2.106279

In [32]:
# muestra el promedio de compra por año por cliente y por producto
average_purchase_per_year_all_products_customer_product = df.groupby([df['InvoiceDate'].dt.to_period('Y'), 'CustomerID', 'StockCode'])['UnitPrice'].mean().reset_index()
# Muestra el resultado por columnas
average_purchase_per_year_all_products_customer_product.columns = ['Year', 'CustomerID', 'StockCode', 'AveragePurchase']
print(average_purchase_per_year_all_products_customer_product.head())

   Year  CustomerID StockCode  AveragePurchase
0  2010       12345     10002         1.602143
1  2010       12345     10125         1.447500
2  2010       12345     10133         1.235000
3  2010       12345     10135         2.422143
4  2010       12345     11001         3.081667