In [14]:
import pandas as pd
import numpy as np

In [15]:
df_general = pd.read_csv('online_retail.csv')

In [16]:
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [17]:
# Agregar columna de 'totalPrice'
df_general['totalPrice'] = df_general['Quantity'] * df_general['UnitPrice']

In [18]:
# Sustituir los valores nulos en 'CustomerID' por el valor de 'InvoiceNo' en la misma fila + 'A'
df_general['CustomerID'] = df_general['CustomerID'].fillna(df_general['InvoiceNo'] + 'A')

In [19]:
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
 8   totalPrice   541909 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 37.2+ MB

In [25]:
# Agrupa los registros por 'CostumerID' y muestra los 20 clientes que mas gastaron
df_general = df_general.groupby('CustomerID').agg({'totalPrice': 'sum'}).reset_index()
df_general = df_general.sort_values(by='totalPrice', ascending=False).head(20)

In [27]:
df_general.head()

     CustomerID  totalPrice
1703    14646.0   279489.02
4233    18102.0   256438.49
3758    17450.0   187482.17
1895    14911.0   132572.62
55      12415.0   123725.45

In [28]:
df = pd.read_csv('online_retail.csv')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Pasos para rellenar ID